.loaderArea
	display: flex
	width: 100vw
	height: 100vh

	background-color: #55B95E

	color: #fff

.loader
	margin: auto

	h2
		font-size: 150px
		text-transform: uppercase

	p
		padding-left: 10px
		font-size: 50px
		font-weight: bold

	span:not(.first-dot)
		margin-left: 10px