@keyframes dotBounce
	0%
		transform: translateY(0)
	25%
		transform: translateY(-15px)
	50%
		transform: translateY(-30px)
	75%
		transform: translateY(-15px)
	100%
		transform: translateY(0)

.loaderArea
	display: flex
	width: 100vw
	height: 100vh

	background-color: $green

	color: $white

.loader
	display: block
	margin: auto

	&_title
		font-size: 150px
		text-transform: uppercase

		@media only screen and (max-width: 576px)
			font-size: 100px

	&_text
		padding-left: 10px
		font-size: 50px

		@media only screen and (max-width: 576px)
			font-size: 30px

	&_dot:not(.first-dot)
		margin-left: 10px

	&_dot
		animation-name: dotBounce
		animation-duration: 3s
		animation-iteration-count: infinite
	
	&_dot:nth-child(2)
		animation-delay: 1s
	&_dot:last-child
		animation-delay: 2s