// Set main fonts
// regular
@font-face
	font-family: "fregat_regular"
		src: url("../fonts/Fregat_regular.otf")
// italic
@font-face
	font-family: "fregat_italic"
		src: url("../fonts/Fregat_italic.otf")
// bold
@font-face
	font-family: "fregat_bold"
		src: url("../fonts/Fregat_bold.otf")
// bold-italic
@font-face
	font-family: "fregat_bold_italic"
		src: url("../fonts/Fregat_bold_italic.otf")

// Set default values
.clear, html
	font-family: "fregat_regular", Arial, Roboto
	margin: 0
	padding: 0

ul, li
	@extend .clear
	list-style-type: none

// delete bootstrap border after click...
.btn:focus, .btn:active
  outline: none !important
  box-shadow: none !important


// Import ----------

// mixins and variable
@import mix

// loader
@import loader

// header menu
@import src/menu
// header article
@import src/hero
// section what
@import src/what
// section info
@import src/info