// variables
$green: #55B95E
$white: #fff
$dark: #4e4e4e

.letterUp::first-letter
	text-transform: uppercase

// mixins
=editText($color, $size, $weight, $transform)
	color: $color
	font-size: $size
	font-weight: $weight
	text-transform: $transform

=infoIcon($img, $position, $size, $repeat)
	background-image: url($img)
	background-position: $position
	background-size: $size
	background-repeat: $repeat

// animation
@keyframes counter
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1

@keyframes logo
	0%
		transform: translate(0, -2000px)
	100%
		transform: translate(0, 0)

@keyframes menu
	0%
		transform: translate(2000px, 0)
	100%
		transform: translate(0, 0)

@keyframes whatHeader
	0%
		transform: translate(-2000px, 0)
	100%
		transform: translate(0, 0)

@keyframes whatList
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes dotBounce
	0%
		transform: translate(0, 0)
	25%
		transform: translate(0, -15px)
	50%
		transform: translate(0, -30px)
	75%
		transform: translate(0, -15px)
	100%
		transform: translate(0, 0)