section.callback#callback
	.container
		header.callback__header
			h2.clear.callback_title записаться на прием
			p.clear.letterUp.callback_text позвоните в любое из наших отделений, ответим на все вопросы или запишем на прием к доктору
		article.callback__article
			.geolocal__group
				.geolocal__block
					p.clear.letterUp.geolocal_city ивано-Франковск
					p.clear.letterUp.geolocal_address ул. черновола
					p.clear.letterUp.geolocal_phone (0342) 74-45-40
				.geolocal__block
					p.clear.letterUp.geolocal_city киев 
					p.clear.letterUp.geolocal_address м. лукьяновка, КПИ, Осокорки, Позняки
					p.clear.letterUp.geolocal_phone (044) 574-88-86
				.geolocal__block
					p.clear.letterUp.geolocal_city львов
					p.clear.letterUp.geolocal_address ул. кульпарковская
					p.clear.letterUp.geolocal_phone (032) 254-03-46
			form.geolocal__form
				p.clear.letterUp заполните форму и мы свяжемся с вами, ответим на все вопросы или запишем на прием к доктору
				.input-block
					label(class="clear letterUp" for="inputState") отделение
					.select-wrapper
						select(id="inputState" class="form-control")
							option.disabled Выберите удобное для вас отделение
							option ...
							option ...
						span.fas.fa-angle-down.select-down
						span.fas.fa-angle-up.select-up
				.input-block
					label.clear.letterUp имя
					input(type="text" placeholder="Имя" class="form-control")
				.input-block
					label.clear.letterUp телефон
					input(type="tel" placeholder="+380" class="form-control")
				button(type="submit" class='btn') отправить заявку