section.head__bottom
	.container
		article.head__article
			.head__block
				h2.head_title здоровье спины при малоподвижном образе жизни
				.head__content
					p.head_text.letterUp занятия в ультрасовременных реабилитационных центрах <label class="clear letterUp">david</label> при <label class="clear letterUp">центре</label> укрепления позвоночника и суставов под наблюдением высококвалифицированной команды реабилитологов
					p.head_text.letterUp помогает снять дискомфорт и хронические  боли в пояснице, грудном и шейном отделах позвоночника.
				.head__btn-group
					a(href="#" class="btn") записаться
					a(href="#" class="btn") узнать больше о программе