section.info#info
	.dark-bg
	.container.info-con
		header.info__header
			h2.clear.info_title почему сидеть вредно?
			p.clear.letterUp.info_text около 85% людей в мире ведут малоподвижный образ жизни
			p.clear.letterUp.info_text эта проблема является ключевой причиной различных заболеваний опорно-двигательного аппарата	
		article.info__article
			.info__block-group#counter
				.info__block
					.info__block_count 
						p(class="clear count" data-num="7.5") 0
						p.clear часов
					.info__block_title сидит на работе
				.info__block
					.info__block_count 
						p(class="clear count" data-num="1.5") 0
						p.clear часа
					.info__block_title смотрит телевизор
				.info__block
					.info__block_count 
						p(class="clear count" data-num="1.5") 0
						p.clear часа
					.info__block_title сидит за компьютером
				.info__block
					.info__block_count 
						p(class="clear count" data-num="3") 0
						p.clear часа
					.info__block_title сидит принимая пищу
				.info__block
					.info__block_count 
						p(class="clear count" data-num="1.5") 0
						p.clear часа
					.info__block_title сидит в транспорте
				h3.strong-message сидя, современный человек проводит в  среднем <strong>15 часов</strong> в день! 
			footer.info__footer
				h3.warning-message при сидении нагрузка на позвоночник возрастает в 11 раз
				p.clear.letterUp.info__footer_text когда человек садится, вся тяжесть тела ложится на позвоночник, провоцируя нарушение тонуса мышц и застой в тканях межпозвоночных дисков. <label class="clear letterUp">как</label> результат – дискомфорт и болевые ощущения вдоль всего позвоночника.