section.head__top
	.container
		header.head__header
			h1.clear.logo david
			span.fas.fa-bars.btn-burger
			span.btn-slose
			nav.navbar
				ul.clear.menu
					li.clear.menu_li 
						a(href="#" class="menu_link") что входит в программу
					li.clear.menu_li
						a(href="#" class="menu_link") почему сидеть вредно
					li.clear.menu_li
						a(href="#" class="menu_link") в каких случаях программа будет полезной
					li.clear.menu_li
						a(href="#" class="menu_link") как работает методика david