section.head__top
	.container
		header.head__header
			h1.clear.logo david
			.burger
				span.fas.fa-bars#burger
			.closed-burger
				span.fas.fa-times#closed-burger
			nav.navbar
				ul.clear.menu
					li.clear.menu_li 
						a(href="#what" data-target="anchor" class="menu_link") что входит в программу
					li.clear.menu_li
						a(href="#info" data-target="anchor" class="menu_link") почему сидеть вредно
					li.clear.menu_li
						a(href="#callback" data-target="anchor" class="menu_link") записаться на прием
section.head__top-clone
	.container
		header.head__header
			h1.clear.logo david
			.burger-clone
				span.fas.fa-bars#burger
			.closed-burger-clone
				span.fas.fa-times#closed-burger
			nav.navbar-clone
				ul.clear.menu
					li.clear.menu_li 
						a(href="#what" data-target="anchor" class="menu_link") что входит в программу
					li.clear.menu_li
						a(href="#info" data-target="anchor" class="menu_link") почему сидеть вредно
					li.clear.menu_li
						a(href="#callback" data-target="anchor" class="menu_link") записаться на прием