section.what#what
	.container
		header.what__header
			h2.what_title что входит в программу?
			p.what_text программа «<label class="clear letterUp">здоровье</label> спины при малоподвижном образе жизни» – это комплекс занятий по финско-немецкой методике DAVID под наблюдением профессионального реабилитолога на современных медицинских тренажерах, оснащенных специальным компьютерным обеспечением. 

		article.what__article
			.sliderArea
				a(class="prev")
					span(class="fas fa-angle-left fa-lg" aria-hidden="true")
				.slider
					img(class="slide" src="img/slide.png", alt="First")
					img(class="slide" src="img/slide.png", alt="Secind")
					img(class="slide" src="img/slide.png", alt="Third")
					.slide-pagination
						span.slide-dot.dot-active 
						span.slide-dot 
						span.slide-dot 
				a(class="next")
					span(class="fas fa-angle-right fa-lg" aria-hidden="true")
			ul
				.what__block
					li.letterUp первичное компьютерное тестирование для диагностики силы, амплитуды и состояния мышечного корсета и суставов
					li.letterUp составление индивидуальной программы занятий, с учетом полученных результатов тестирования
					li.letterUp курс занятий по уникальной в Украине финско-немецкой методике на медицинских компьютеризированных тренажерах
				.what__block
					li.letterUp промежуточное и заключительное диагностическое исследование функций мышц и суставов, для контроля динамки положительного результата
					li.letterUp занятия проходят под обязательным контролем реабилитолога
			.what__footer
				p.clear.letterUp программу лечения в каждом конкретном случае составляет доктор во время первичной консультации.
				p.clear.letterUp при наличии выраженных болей врач рекоменует курс лечения для снятия воспалительного процесса и отека и, после устранения острой боли специалисты разрабатывают индивидуальную программу занятий 